/* Global variables */
:root {
	/* Colors */
	--c-black: #000000;
	--c-blue: rgb(70, 180, 255);
	--c-gray: #90aab7;
	--c-green: #9ef2cb;
	--c-pink: #ffb8d9;
	--c-orange: #ffb7a3;
	--c-yellow: #ffdace;
	--c-white: #fff;

	/* Fonts */
	--f-family: 'Inter', 'system-ui', sans-serif;

	/* Font sizes */
	--f-u18: 11.390625em;
	--f-u17: 9.950627481136905em;
	--f-u16: 8.692673779389363em;
	--f-u15: 7.59375em;
	--f-u14: 6.63375165409127em;
	--f-u13: 5.795115852926242em;
	--f-u12: 5.0625em;
	--f-u11: 4.422501102727513em;
	--f-u10: 3.8634105686174953em;
	--f-u9: 3.375em;
	--f-u8: 2.9483340684850083em;
	--f-u7: 2.575607045744997em;
	--f-u6: 2.25em;
	--f-u5: 1.9655560456566725em;
	--f-u4: 1.7170713638299977em;
	--f-u3: 1.5em;
	--f-u2: 1.3103706971044482em;
	--f-u1: 1.1447142425533319em;
	--f-d1: 0.8735804647362989em;
	--f-d2: 0.7631428283688879em;
	--f-d3: 0.6666666666666666em;
	--f-d4: 0.5823869764908659em;
	--f-d5: 0.5087618855792586em;
	--f-d6: 0.4444444444444444em;
	--f-d7: 0.3882579843272439em;
	--f-d8: 0.3391745903861724em;
	--f-d9: 0.2962962962962963em;
	--f-d10: 0.2588386562181626em;
	--f-d11: 0.22611639359078162em;
	--f-d12: 0.19753086419753085em;
	--f-d13: 0.17255910414544176em;
	--f-d14: 0.15074426239385438em;
	--f-d15: 0.13168724279835392em;
	--f-d16: 0.11503940276362785em;
	--f-d17: 0.10049617492923625em;
	--f-d18: 0.0877914951989026em;

	--t-fg: var(--c-black);
	--t-bg: var(--c-white);
	--t-subdue: var(--c-gray);
	--t-active: var(--c-blue);
}

body {
	margin: 0;
	color: var(--t-fg);
	font-family: var(--f-family);
	background-color: var(--c-black);
	color: var(--c-white);
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--t-active);
	text-decoration: none;
}
a:hover {
	color: var(--c-white);
}

h1 {
	font-size: var(--f-u8);
}

h2 {
	font-size: var(--f-u6);
}

h3 {
	font-size: var(--f-u4);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--c-blue);
}

li {
	list-style: none;
	padding: 0 0.5rem;
}

p {
	color: var(--c-gray);
}

.button {
	display: inline-block;
	border: 3px solid currentColor;
	padding: 0.5em 1em;
	font-weight: 700;
	text-transform: uppercase;
}

.wrapper {
	max-width: 80em;
	margin-left: auto;
	margin-right: auto;
	padding: 4.25rem 2rem;
	position: relative;
}

/* Margin top */
.mt-0 {
	margin-top: 0;
}
.mt-1 {
	margin-top: 1rem;
}
.mt-2 {
	margin-top: 2rem;
}
.mt-3 {
	margin-top: 3rem;
}
.mt-4 {
	margin-top: 4rem;
}

/* Page title and Page hero image styles*/
.page-title {
	text-align: center;
	padding: 2rem 0;
	color: var(--c-blue);
}

.heroImg {
	height: 100%;
	object-fit: cover;
}

.heroImg img {
	width: 100%;
}

.bio {
	font-size: var(--f-u1);
	line-height: 2;
	margin-top: 2em;
}

.wrapper.bio {
	max-width: 50em;
}

@media (max-width: 750px) {
	.page-title {
		font-size: 2rem;
		padding: 1rem 0;
	}
	.wrapper.bio {
		max-width: 100%;
		padding: 0;
	}
}

/* Show */
.show {
	display: block;
}
/* Hide */
.hide {
	display: none;
}

/* Slide left */
.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* Animation Slide-left */
@-webkit-keyframes slide-left {
	0% {
		-webkit-transform: translateX(+100%);
				transform: translateX(+100%);
	}
	100% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
}
@keyframes slide-left {
	0% {
		-webkit-transform: translateX(+100%);
				transform: translateX(+100%);
	}
	100% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
}
/* Animation Slide-right */
@-webkit-keyframes slide-right {
	0% {
		-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
}
@keyframes slide-right {
	0% {
		-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
}

/* Animation Zoom out */
@keyframes zoom-out {
	0% {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(1.1, 1.1);
	}
	50% {
		transform: scale(1.2, 1.2);
	}
	75% {
		transform: scale(1.3, 1.3);
	}
	100% {
		transform: scale(1.4, 1.4);
	}
}