---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About" description="informations about this project" />
	</head>
	<style>

		.hero {
			display: flex;
			background-color: var(--t-fg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("https://upload.wikimedia.org/wikipedia/commons/c/ca/TheNewSolarSystem-PIA02973.jpg");
			min-height: 30vw;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			animation: zoom-out 90s infinite alternate;
		}
		.title {
			font-size: var(--f-u8);
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: 0.0625em;
		}

		.button-wrapper {
			margin-top: 2rem;
			margin-bottom: 4rem;
		}

		@media (max-width: 750px) {
			.hero {
				min-height: 100vw;
				padding-top: 2rem;
			}
			.title {
				font-size: var(--f-u5);
				padding: 0 1rem;
				text-align: center;
			}
		}
	</style>
	<body>
		<Nav />
		<header class="hero">
			<h1 class="title">About This Project</h1>
		</header>
		<div class="wrapper">
			<div class="bio wrapper">
				<h2>The Project</h2>
				<p>The purpose of this project is to demonstrate how to use the Astro framework to build a website faster. The content is about planets in the Solar system with images and introductions of each planet. The website is responsive for desktop and mobile screens.</p>
				<p class="button-wrapper">
					<a class="button" href="https://github.com/ChenWarren/solar-system-planets">Source Code</a>
				</p>
				<h2>About Astro</h2>
				<p>
					<a href="https://astro.build/">Astro</a> is JavaScript framework for building faster websites. Astro extracts UI into smaller, isolated components that allows you to assamble it on mutilple web pages. Astro has built-in support for <a href="https://daringfireball.net/projects/markdown/">Markdown</a> files.
				</p>
				<p>
					<a href="https://astro.build/">Astro</a> also allows you to use your favorite frontend framework like React, Vue, Svelte, and more.
				</p>
				<p>
					<a href="https://astro.build/">Astro</a> ship zero Javascript by default, but you can add it if you need it.
				</p>
				<p>
					<a href="https://astro.build/">Astro</a> supports server-side rendering(SSR), static site generation(SSG).
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
