---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Jeanine White" description="About Jeanine White Lorem Ipsum" />

	</head>
	<style>
		img {
			filter: brightness(0.8);
		}
	</style>
	<body>
		<Nav />
		<div class="wrapper">
			<h1 class="page-title">About This Project</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://raw.githubusercontent.com/withastro/astro/main/assets/social/banner-minimal.png"
				/>
			</div>
			<div class="bio wrapper">
				<h2>About Astro</h2>
				<p>
					<a href="https://astro.build/">Astro</a> is JavaScript framework for building faster websites. Astro extracts UI into smaller, isolated components that allows you to assamble it on mutilple web pages. Astro has built-in support for <a href="https://daringfireball.net/projects/markdown/">Markdown</a> files.
				</p>
				<p>
					<a href="https://astro.build/">Astro</a> also allows you to use your favorite frontend framework like React, Vue, Svelte, and more.
				</p>
				<p>
					<a href="https://astro.build/">Astro</a> ship zero Javascript by default, but you can add it if you need it.
				</p>
				<p>
					<a href="https://astro.build/">Astro</a> supports server-side rendering(SSR), static site generation(SSG).
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
