---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Collection from '../components/Collection.astro';
import type { Planet } from '../types';

// Data Fetching: List all Markdown posts in the repo.
const planets = (await Astro.glob<Planet>('./planet/*.md'))
	.sort((a, b) => a.frontmatter.order - b.frontmatter.order);

// Load all planet MD files sorted by Order
const innerPlanets = planets.slice(0, 4);
const outerPlanets = planets.slice(4, planets.length);
---

<html lang="en">
	<head>
		<MainHead
			title="Home"
		/>
	</head>
	<style>
		.wrapper {
			display: flex;
			flex-direction: column;
			position: relative;
			margin-bottom: 2em;
		}

		.hero {
			width: 100%;
			height: 50vh;
			position: relative;
			padding-top: 4.25rem;
			overflow: hidden;
			background-color: rgba(128, 128, 128, 0.4);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url("https://upload.wikimedia.org/wikipedia/commons/1/19/Solar_System_true_color.jpg");
			min-height: 30vw;
		}

		@media (max-width: 750px) {
			.hero {
				background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/83/Solar_system.jpg");
			}
		}

		.grid {
			display: grid;
			grid-gap: 2rem;
		}

		@media (min-width: 1200px) {
			.grid {
				grid-template-columns: 1fr 1fr;
			}
		}

		.section {
			color: var(--c-gray);
		}

		.sectionTitle {
			color: var(--c-blue);
			font-weight: 700;
			font-size: var(--f-u8);
			margin-top: 2rem;
			margin-bottom: 2rem;
		}

		.bio {
			line-height: 2;
			margin-bottom: 2rem;
		}

		.bio > span:first-of-type {
			line-height: 1;
			margin-bottom: 0.5em;
			display: block;
			font-weight: 700;
			font-size: var(--f-u4);
		}
	</style>
	<body>
		<Nav />
		<header class="hero">
		</header>
		<main class="wrapper">
			<section class="grid">
				<article class="section">
					<h1 class="sectionTitle">The Solar System</h1>
					<!-- <h3>In The Solar System</h3> -->
					<p class="bio">
						The Solar System is the gravitationally bound system of the Sun and the objects that orbit it, either directly or indirectly. Of the objects that orbit the Sun directly, the largest are the eight planets, with the remainder being significantly smaller objects, such as dwarf planets and small Solar System bodies. 
					</p>
					<p>
						<a class="button" href="/solar-system">Read more</a>
					</p>
				</article>
			</section>
			<section class="mt-4">
				<Collection planets={innerPlanets} title="Inner Solar System" description="The Inner Solar System is the region of space surrounding the Sun up to the asteroid belt. It includes the planets Mercury, Venus, Earth, Mars, and the dwarf planet Ceres. All of the planets in the Inner Solar System are made of rock and metal, with the exception of Venus, which is mostly made of gas and has a very hot surface. The asteroids in the asteroid belt are also made of rock and metal." grid="grid1" position="position-down"/>
			</section>
			<section class="mt-4">
				<Collection planets={outerPlanets} title="Outer Solar System" description="The outer solar system is the region of the solar system that extends beyond the asteroid belt. It consists of the gas giants Jupiter, Saturn, Uranus, and Neptune, as well as the dwarf planet Pluto. The outer solar system is also home to many of the solar system's moons, including the Galilean moons of Jupiter, the Saturnian moons, the Uranian moons, and the Neptunian moons. The outer solar system is thought to have formed through the gravitational collapse of a giant molecular cloud." grid="grid-line" position="position-up"/>
			</section>
		</main>
		<Footer />
	</body>
</html>
