---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import type { Planet } from '../types';

// Data Fetching: List all Markdown posts in the repo.
const planets = await Astro.glob<Planet>('./planet/*.md');
const featuredPlanet = planets[0]!;

---

<html lang="en">
	<head>
		<MainHead
			title="Home"
		/>
	</head>
	<style>
		.wrapper {
			display: flex;
			position: relative;
			margin-bottom: 2em;
		}

		.hero {
			width: 100%;
			height: 50vh;
			position: relative;
			padding-top: 4.25rem;
			overflow: hidden;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url("https://upload.wikimedia.org/wikipedia/commons/1/19/Solar_System_true_color.jpg");
			min-height: 30vw;
			animation: zoom-out 90s infinite alternate;
		}

		@media (max-width: 750px) {
			.hero {
				background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/83/Solar_system.jpg");
			}
		}

		.grid {
			display: grid;
			grid-gap: 2rem;
		}

		@media (min-width: 1200px) {
			.grid {
				grid-template-columns: 1fr 1fr;
			}
		}

		.section {
			color: var(--c-gray);
		}

		.sectionTitle {
			color: var(--c-blue);
			font-weight: 700;
			font-size: var(--f-u8);
			margin-top: 2rem;
			margin-bottom: 2rem;
		}

		.bio {
			line-height: 2;
			margin-bottom: 2rem;
		}

		.bio > span:first-of-type {
			line-height: 1;
			margin-bottom: 0.5em;
			display: block;
			font-weight: 700;
			font-size: var(--f-u4);
		}
	</style>
	<body>
		<Nav />
		<header class="hero">
		</header>
		<main class="wrapper">
			<div class="grid">
				<div class="section">
					<h1 class="sectionTitle">The Solar System</h1>
					<!-- <h3>In The Solar System</h3> -->
					<p class="bio">
						The Solar System is the gravitationally bound system of the Sun and the objects that orbit it, either directly or indirectly. Of the objects that orbit the Sun directly, the largest are the eight planets, with the remainder being significantly smaller objects, such as dwarf planets and small Solar System bodies. 
					</p>
					<p>
						<a class="button" href="/solar-system">Read more</a>
					</p>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
