---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import type { Planet } from '../types';

// Load all planet MD files sorted by Order
const planets = (await Astro.glob<Planet>('./planet/*.md'))
	.sort((a, b) => a.frontmatter.order - b.frontmatter.order);
---

<html lang="en">
	<head>
		<MainHead
			title="Planets"
			description="The planets of the solar system"
		/>
		<style>
			.grid {
				display: grid;
				grid-gap: 3rem;
				grid-template-columns: 1fr 1fr;
			}
			.title {
				margin-top: 2rem;
				margin-bottom: 1rem;
				text-align: center;
			}
			.subtitle{
				text-align: center;
				margin-bottom: 2rem;
			}
			@media (max-width: 750px) {
				.grid {
					grid-template-columns: 1fr;
				}
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1 class="title">Planets</h1>
			<h3 class="subtitle">In Solar System</h3>
			<div class="grid">
				{planets.map((planet) => <PortfolioPreview planet={planet} position={"position-up"}/>)}
			</div>
		</div>
		<Footer />
	</body>
</html>
