<nav>
	<a href="/">
		<div class="monogram">
			<img src="/assets/images/planets-logo.svg" alt="planets logo" width="50">
			<div>Planets</div>
		</div>
	</a>
	<ul class="menu-bar">
		<li><a class="link" href="/"> Home</a></li>
		<li><a class="link" href="/projects/"> Planets</a></li>
		<li><a class="link" href="/"> Solar System</a></li>
		<li><a class="link" href="/about/"> About</a></li>
	</ul>
</nav>

<style>
	nav {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem 1rem;
		background-color: rgba(5, 9, 30, 0.7);
		position: fixed;
		z-index: 900;
	}

	.menu-bar {
		display:flex;
	}

	.link {
		color: var(--t-subdue);
		display: block;
		text-decoration: none;
		font-size: var(--f-d1);
		text-transform: uppercase;
		border-bottom: 2px solid transparent;
	}

	.link:hover,
	.link:focus {
		color: var(--t-active);
		border-bottom: 2px solid var(--t-active);
	}

	.monogram {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-right: 0.5rem;
		color: var(--c-blue);
		font-weight: 700;
		gap: 0.25rem;
	}
</style>
