---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import type { Planet } from '../types';

interface Props {
	content: Planet;
}

const { content } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={content.title} description={content.description} />
		<style>
			.hero {
				display: flex;
				background-color: rgba(128, 128, 128, 0.4);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				min-height: 40vw;
				color: white;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			.title {
				font-size: var(--f-u10);
				font-weight: 900;
				text-transform: uppercase;
				letter-spacing: 0.0625em;
			}

			.content {
				font-size: var(--f-u1);
				line-height: 2.2;
				max-width: 50em;
				margin: auto;
			}

			.wrapper {
				display: flex;
				justify-content: center;
				padding-bottom: 1em;
				margin-bottom: 1em;
			}

			@media (max-width: 750px) {
				.hero {
					min-height: 80vw;
				}
				.title {
					font-size: var(--f-u5);
					padding: 0 1rem;
					text-align: center;
				}
			}
		</style>
	</head>
	<body>
		<Nav />
		<header style={`background-image:url(${content.img})`} class="hero">
			<h1 class="title">{content.title}</h1>
		</header>
		<div class="wrapper">
			<div class="content"><slot /></div>
		</div>
		<div class="wrapper">
			<a href="/planets/" class="button">View More</a>
		</div>
		<Footer />
	</body>
</html>
